In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

import wrangle_zillow
from wrangle_zillow import prepare_zillow

In [2]:
train, validate, test = prepare_zillow()

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52538 entries, 7561 to 71294
Data columns (total 27 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            52538 non-null  object
 1   parcelid                      52538 non-null  object
 2   bathroomcnt                   52538 non-null  float64
 3   bedroomcnt                    52538 non-null  float64
 4   buildingqualitytypeid         52538 non-null  float64
 5   calculatedfinishedsquarefeet  52538 non-null  float64
 6   fips                          52538 non-null  object
 7   fullbathcnt                   52538 non-null  float64
 8   heatingorsystemtypeid         52538 non-null  float64
 9   latitude                      52538 non-null  float64
 10  longitude                     52538 non-null  float64
 11  lotsizesquarefeet             52538 non-null  float64
 12  propertycountylandusecode     52538 non-null  object
 13  propertylandusetypeid         52538 non-null  object
 14  rawcensustractandblock        52538 non-null  object
 15  regionidcounty                52538 non-null  object
 16  regionidzip                   52538 non-null  object
 17  yearbuilt                     52538 non-null  float64
 18  structuretaxvaluedollarcnt    52538 non-null  float64
 19  taxvaluedollarcnt             52538 non-null  float64
 20  landtaxvaluedollarcnt         52538 non-null  float64
 21  taxamount                     52538 non-null  float64
 22  censustractandblock           52538 non-null  object
 23  logerror                      52538 non-null  float64
 24  transactiondate               52538 non-null  object
 25  heatingorsystemdesc           52538 non-null  object
 26  propertylandusedesc           52538 non-null  object
dtypes: float64(15), object(12)
memory usage: 11.2+ MB

In [4]:
validate.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13135 entries, 13773 to 37079
Data columns (total 27 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            13135 non-null  object
 1   parcelid                      13135 non-null  object
 2   bathroomcnt                   13135 non-null  float64
 3   bedroomcnt                    13135 non-null  float64
 4   buildingqualitytypeid         13135 non-null  float64
 5   calculatedfinishedsquarefeet  13135 non-null  float64
 6   fips                          13135 non-null  object
 7   fullbathcnt                   13135 non-null  float64
 8   heatingorsystemtypeid         13135 non-null  float64
 9   latitude                      13135 non-null  float64
 10  longitude                     13135 non-null  float64
 11  lotsizesquarefeet             13135 non-null  float64
 12  propertycountylandusecode     13135 non-null  object
 13  propertylandusetypeid         13135 non-null  object
 14  rawcensustractandblock        13135 non-null  object
 15  regionidcounty                13135 non-null  object
 16  regionidzip                   13135 non-null  object
 17  yearbuilt                     13135 non-null  float64
 18  structuretaxvaluedollarcnt    13135 non-null  float64
 19  taxvaluedollarcnt             13135 non-null  float64
 20  landtaxvaluedollarcnt         13135 non-null  float64
 21  taxamount                     13135 non-null  float64
 22  censustractandblock           13135 non-null  object
 23  logerror                      13135 non-null  float64
 24  transactiondate               13135 non-null  object
 25  heatingorsystemdesc           13135 non-null  object
 26  propertylandusedesc           13135 non-null  object
dtypes: float64(15), object(12)
memory usage: 2.8+ MB

In [5]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7298 entries, 53133 to 8772
Data columns (total 27 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            7298 non-null   object
 1   parcelid                      7298 non-null   object
 2   bathroomcnt                   7298 non-null   float64
 3   bedroomcnt                    7298 non-null   float64
 4   buildingqualitytypeid         7298 non-null   float64
 5   calculatedfinishedsquarefeet  7298 non-null   float64
 6   fips                          7298 non-null   object
 7   fullbathcnt                   7298 non-null   float64
 8   heatingorsystemtypeid         7298 non-null   float64
 9   latitude                      7298 non-null   float64
 10  longitude                     7298 non-null   float64
 11  lotsizesquarefeet             7298 non-null   float64
 12  propertycountylandusecode     7298 non-null   object
 13  propertylandusetypeid         7298 non-null   object
 14  rawcensustractandblock        7298 non-null   object
 15  regionidcounty                7298 non-null   object
 16  regionidzip                   7298 non-null   object
 17  yearbuilt                     7298 non-null   float64
 18  structuretaxvaluedollarcnt    7298 non-null   float64
 19  taxvaluedollarcnt             7298 non-null   float64
 20  landtaxvaluedollarcnt         7298 non-null   float64
 21  taxamount                     7298 non-null   float64
 22  censustractandblock           7298 non-null   object
 23  logerror                      7298 non-null   float64
 24  transactiondate               7298 non-null   object
 25  heatingorsystemdesc           7298 non-null   object
 26  propertylandusedesc           7298 non-null   object
dtypes: float64(15), object(12)
memory usage: 1.6+ MB

In [6]:
scaler, train_scaled, validate_scaled, test_scaled = wrangle_zillow.standard_scaler(train, validate, test)

In [7]:
train_scaled.head()

,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedfinishedsquarefeet,fullbathcnt,heatingorsystemtypeid,latitude,longitude,lotsizesquarefeet,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,landtaxvaluedollarcnt,taxamount,logerror
7561,0.748728,-0.02843,1.007613,-0.417854,0.836982,-0.404286,0.603852,-0.691948,0.345964,0.836378,-0.666153,-0.658642,-0.569614,-0.687528,-0.081855
63729,0.748728,-0.02843,0.000000,0.364527,0.836982,-0.404286,-1.461799,1.435948,-0.168936,-0.075915,-0.557439,-0.610266,-0.557217,-0.675854,-0.042161
68688,-0.306285,-0.02843,-0.476340,0.073010,-0.238319,1.224952,0.303985,-0.275067,-0.190904,-2.074268,-0.294528,-0.359869,-0.345503,-0.378672,0.620767
70148,0.748728,0.97000,0.000000,0.514573,0.836982,-0.404286,-1.352594,1.446334,-0.181941,0.749493,0.099696,0.170699,0.183248,0.030009,-0.030327
71810,0.748728,-0.02843,0.000000,0.960422,0.836982,-0.404286,-0.903659,1.115622,-0.151315,-0.336569,-0.171737,0.572446,0.864111,0.480436,-0.760896